@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Lato", sans-serif;
}

.bg-liner {
    background: transparent linear-gradient(72deg, #C95C93 0%, #D8744C 100%) 0% 0% no-repeat;
}

.interview-init {
    @apply flex flex-col min-h-dvh justify-between w-full space-y-[40px]
}

.interview-init .logo-section {
    @apply py-[30px]
}

.interview-init .logo-section .logo-img {
    @apply w-[405px] h-auto mx-auto
}

.interview-init .header-section {
    @apply p-[35px] text-center text-white space-y-[15px]
}

.interview-init .header-section .title {
    @apply text-20 font-bold
}

.interview-init .header-section .sub-title {
    @apply text-16
}

.interview-init .footer {
    @apply text-center py-[10px] text-white text-15
}

.interview-init .body {
    @apply space-y-[30px] text-center
}

.interview-init .heading {
    @apply text-midnightHaze text-18 font-bold
}

.btn--liner {
    background: transparent linear-gradient(72deg, #C95C93 0%, #D8744C 100%) 0% 0% no-repeat;
    @apply rounded-[10px] text-center text-18 text-white px-[20px] pt-[12px] pb-[16px] transition-colors;
}

.btn--liner:hover,
.btn--liner:focus {
    background: transparent linear-gradient(72deg, #D8744C 0%, #C95C93 100%) 0% 0% no-repeat;
}

.interview-init .connectivity-list {
    @apply grid grid-cols-2 gap-x-[50px] gap-y-[40px] mx-auto w-fit
}

.interview-init .connectivity-list li {
    box-shadow: 0px 0px 15px #00000029;
    @apply w-[228px] h-[182px] relative bg-white rounded-[15px] flex flex-col items-center justify-center gap-[13px] text-center text-midnightHaze text-15 font-semibold
}

.interview-init .connectivity-list li svg {
    @apply h-12 w-12
}

.interview-init .connectivity-list li.checked-connectivity {
    background-image: url('../img/check-mark.svg');
    background-position: 8px 8px;
    @apply bg-no-repeat
}

.interview-init .agree-checkbox-group {
    @apply flex items-center justify-center gap-1.5
}

.interview-init .agree-checkbox-group label {
    @apply text-midnightHaze text-16
}

.interview-init .agree-checkbox-group label a {
    @apply underline
}

.interview-init .agree-checkbox-group input[type="checkbox"] {
    @apply w-[20px] h-[20px] bg-white border border-solid border-mulberryJam appearance-none relative
}

.interview-init .agree-checkbox-group input[type="checkbox"]:checked::after {
    content: "";
    background: transparent linear-gradient(270deg, #D8744C 0%, #C95C93 100%) 0% 0%;
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-[8px] h-[8px];
}