@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    background: url("../image/pattern.svg"), url("../image/bg-foot.jpg"), url('../image/bg-head.jpg');
    background-repeat: repeat, no-repeat, no-repeat;
    background-position: 10px 10px, center bottom, right top -250px;
    background-size: 40px 40px, contain, contain;
    @apply bg-gray-900 text-white w-full
}

.custom-cotainer {
    @apply ml-auto mr-auto w-full
}

.faq--section {
    @apply max-w-3xl px-6 md:pt-12 md:px-0
}

.faq--section .title {
    @apply md:text-5xl text-3xl font-bold text-center
}

.faq--section .faq-list--container {
    @apply from-gray-700 via-black to-black bg-gradient-to-bl flex items-center justify-center rounded-[0.55rem] select-none max-w-3xl mt-12 p-0.5
}

.faq--section .faq-list--container .faq-list {
    @apply md:p-12 md:text-left p-6 mx-auto space-y-12 text-center bg-black rounded-lg
}

.faq--section .faq-list--container .faq-list li hr {
    @apply from-transparent md:from-white/50 via-white/25 md:via-transparent to-transparent bg-gradient-to-r h-[2px] rounded border-0 mt-6
}

.faq--section .faq-list--container .faq-list li .faq-qus {
    @apply text-2xl font-bold
}

.faq--section .faq-list--container .faq-list li .faq-ans {
    @apply mt-3 md:mt-1.5 text-gray-200
}

.faq--section .faq-list--container .faq-list li .faq-ans a {
    @apply decoration-gray-600 hover:decoration-white decoration-2 underline
}

.faq--section .faq-list--container .faq-list li .faq-ans b,
.faq--section .faq-list--container .faq-list li .faq-ans span {
    @apply text-green
}

.footer {
    @apply md:px-0 p-12
}

.copy-right {
    @apply text-white/75 md:text-xs block text-sm text-center
}

.client--section {
    @apply px-6 py-6 space-y-12 text-center md:py-12 md:px-0 md:space-y-24 max-w-4xl
}

.client--section .title {
    @apply text-2xl font-bold text-center md:text-3xl
}

.about--section {
    @apply max-w-5xl py-12 text-center sm:py-24 md:w-full sm:w-2/3
}

.about--section .title {
    @apply text-center md:text-3xl text-2xl font-bold
}

.about--section .special--list {
    @apply md:px-0 px-6 mt-6 md:flex md:mt-12
}

.about--section .special--list li {
    @apply md:w-1/2 w-full
}

.about--section .special--list li:nth-last-child(1) {
    @apply md:mt-0 mt-12
}

.about--section .special--list li .title {
    @apply lg:text-2xl mt-6 text-xl font-bold
}

.about--section .special--list li .sub--title {
    @apply lg:text-lg mt-3 leading-relaxed text-gray-400
}

.about--section .special--list li .sub--title a {
    @apply underline
}

.about--section .special--list li .icon {
    @apply border-gray-700/50 md:w-40 md:h-40 flex items-center justify-center w-32 h-32 p-6 mx-auto border rounded-full
}


.about--section .special--list li .icon .icon-inner {
    @apply from-gray-500 to-black bg-gradient-to-br md:w-32 md:h-32 container flex items-center justify-center w-24 h-24 max-w-3xl rotate-45 rounded-full select-none p-0.5
}

.about--section .special--list li .icon .icon-inner figure {
    @apply md:w-32 md:h-32 flex items-center justify-center w-24 h-24 bg-black rounded-full
}

.about--section .second-title {
    @apply mt-16 text-xl font-bold text-center md:text-2xl
}

.hero--section {
    @apply 2xl:min-h-screen md:py-12 flex flex-col items-center justify-center text-center
}

.hero--section .hero--title {
    @apply lg:text-8xl md:text-6xl drop-shadow-2xl md:mt-9 mt-6 text-3xl font-bold
}

.hero--section .hero-sub--title {
    @apply lg:text-2xl md:text-xl px-6 mt-6 text-lg leading-tight
}

.hero--section .icon {
    @apply from-gray-200 via-black to-black bg-gradient-to-br flex items-center justify-center rounded-[0.55rem] select-none mt-16 md:mt-0 p-0.5
}

.hero--section .icon figure {
    @apply shadow-white flex items-center justify-center w-32 h-32 p-3 bg-black rounded-lg shadow-2xl
}

.hero--section .btn-group {
    @apply sm:flex-row sm:space-x-6 flex flex-col items-center mt-6 space-y-6 sm:space-y-0
}

.hero--section .btn-group .btn {
    @apply sm:w-auto focus:outline-none w-full px-12 py-4 text-lg font-bold border border-solid border-white rounded-lg
}

.hero--section .btn-group .btn.fill {
    @apply text-gray-900 bg-white border
}

.hero--section .btn-group .btn:hover,
.hero--section .btn-group .btn:focus {
    @apply bg-white text-gray-900
}

.hero--section .btn-group .btn.fill:hover,
.hero--section .btn-group .btn.fill:focus {
    @apply bg-transparent text-white
}

.hero--section .sponsors-group {
    @apply drop-shadow lg:px-0 flex flex-wrap items-center justify-center gap-3 px-6 mt-6
}


.color-cyan {
    @apply text-cyan
}

.color-green {
    @apply text-green
}

.color-pink {
    @apply text-pink
}

.code-container {
    @apply from-gray-700 via-black to-black bg-gradient-to-bl flex items-center justify-center mb-6 rounded-[0.55rem] select-none mt-6 custom-cotainer max-w-3xl p-0.5
}